<div class= "pre-footer valign-wrapper">
  <div class="container-full">
    <div class="section">
  <div class="row">
    <div class="col l4 center">
      <i class="large material-icons">thumb_up</i>
      <h5>用户至上</h5>
    </div>
    <div class="col l4 center">
      <i class="large material-icons">stars</i>
      <h5>五星服务</h5>
    </div>
    <div class="col l4 center">
      <i class="large material-icons">flash_on</i>
      <h5>快速投递</h5>
    </div>
    </div>
  </div>
  </div>
</div>