<table class="bordered">
  <thead>
    <tr>
      <th>Key Features</th>
      <th>价值</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>分类</td>
      <td><%= @product.category.name %></td>
    </tr>
    <tr>
      <td>子类</td>
      <td><%= @product.subcategory.name %></td>
    </tr>
    <tr>
      <td>品牌</td>
      <td><%= @product.brand %></td>
    </tr>
    <tr>
    <% if @product.size %>
      <td>大小</td>
      <td>
        <select name="size">
        <% @product.size_values.each do |value| %>
          <option><%= value %></option>
        <% end %>
        </select>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>